        <div class="card">
          <div class="card-image">
            <img src={{movie.Poster}}>
            <span class="card-title">{{ movie.Title }}</span>
            <a class="btn-floating pulse halfway-fab waves-effect waves-light red" (click)="goToMovieDetail()"><i class="material-icons">add</i></a>
          </div>
          <div class="card-content">
              <span>Year : {{ movie.Year }}</span>
              <hr>
              <span>Type : {{ movie.Type }}</span>
              <hr *ngIf="movie.imdbRating">
              <span *ngIf="movie.imdbRating">IMDB Rating : {{ movie.imdbRating }}</span>
              <hr *ngIf="movie.userRating">
              <span *ngIf="movie.userRating">User Rating : {{ movie.userRating }}</span>
              <hr *ngIf="movie.categories">
              <span *ngIf="movie.categories">User categories : {{ movie.categories }}</span>
              <hr *ngIf="movie.userRating">
              <button *ngIf="movie.userRating" class="waves-effect waves-light btn red darken-4"
              (click)="deleteReview()">Delete</button>
          </div>
        </div>